{% extends "index.html" %}
{% block body%}
<div class="container mt-5">
  <div class="container m-auto col-6 border p-4">
    <div class="text-center col">
      <img src="/static/img/logo1.webp" alt="" style="height: 150px;">
      <div class="display-8">Login Page</div>
      <hr>
    </div>
    <form action="/login" method="POST">
      {%csrf_token%}
      {%if error %}
      <div class="alert" style="background-color: rgb(220, 144, 144);">{{error}}</div>
      {%endif%}

      <!-- Email input -->
      <div class="form-outline mb-4 ">
        <input type="email" id="form2Example1" name="email" class="form-control" />
        <label class="form-label" for="form2Example1">Email address</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" name="password" id="form2Example2" class="form-control" />
        <label class="form-label" for="form2Example2">Password</label>
      </div>

       <!-- Register Redirect -->
      <button type="submit" class="btn btn-dark btn-block"> Login</button>
      <p class="text-center text-muted mt-5 mb-0">Not a member? <a href="/signup" class="fw-bold text-body"><u>Register
            here</u></a></p>

    </form>
  </div>
</div>

{% endblock body%}