{% extends "index.html" %}
{% block body%}
<style>
    .card-body {
        overflow: hidden;
        font-family: 'Ubuntu', sans-serif;
    }

  
</style>
<!-- Services -->
<div class="container mt-4 p-4">
    <div class="row m-auto">
        {% for service_data in services %}
        <div class="col-md-5 ml-5">
            <div class="card m-auto" style="background-color: antiquewhite;" >
                {% if service_data.service.image %}
                <img src="{{service_data.service.image.url}}" class="cart-img rounded mb-4" alt="Service Image 2">
                {% endif %}
                <div class="card-body p-4">
                    <h1 class="card-title text-center"><b>{{ service_data.service }}</b></h1>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Services -->
{%endblock body%}