{% extends "index.html" %}

{% block head %}
{% endblock head %}

{% block body %}

{% load custom_filter %}
{% load cart %}
<div class="container mt-3">
    <div class="border rounded ">
        <h1 class="display text-center m-3">Your Items</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Product Name</th>
                    <th>Product Image</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{product.name}}</td>
                    <td><img style="height: 80px" src="{{product.image.url}}" alt=""></td>
                    <td>{{product.price|currency}}</td>
                    <td>{{product|cart_quantity:request.session.cart}}</td>
                    <td>{{product|total_price:request.session.cart|currency}}</td>
                    <form action="/wishlists" method="POST" >
                        {% csrf_token %}
                        <input hidden type="text" name="product" value="{{product.id}}">
                        <input type="hidden" name="remove" value="True">
                        <td><button class="btn btn-info btn-sm" type="submit">Remove</button></td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <th colspan="4"></th>
                <th>Total</th>
                <th>{{products|total_cart_price:request.session.cart|currency}}</th>
            </tfoot>
        </table>

    </div>
</div>
{% endblock body %}